* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}
body {
    color: black;
}

.container {
    padding: 50px;
}

.heading {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid blue;
	justify-content: space-around;
}

a {
    text-decoration: none;
    color: black;
}

.services {
	display: block;
	justify-content: space-between;
	padding-top: 40px;
}

.head {
	color: blue;
	padding-top: 40px;
    text-align: center;
}

.lay {
	padding-top: 40px;
}

img {
	padding-top: 20px;
}

.nav {
    /* background-color:#ccc; */
    width: 500px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}


.link {
    text-decoration: none;
    /* color: black; */
    /* border-right: 1px solid black; */
    /* background-color: #ccc; */
    height: 40px;
    padding-top: 10px;
    width: 100px;
}

a {
    text-decoration: none;
    /* color: black; */
}

a:hover {
    color: blue;
    text-decoration: underline;
}





body {
    height: 100%;
    width: 100%;
    /* background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab); */
    background-size: 300% 300%;
    background-color: rgb(199, 176, 176);
    /* animation: color 12s ease-in-out infinite; */
}

@keyframes color {
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}



.sanidad {
    /* color: blue; */
    animation: colors 12s ease-in-out infinite;
} 

@keyframes colors {
    0% {
        color: blue;
    }
    50% {
        color: red;
    }
    100% {
        color: blue;
    }
}


.second {
    display: flex;
    justify-content: space-between;
} 

.first {
    display: flex;
    justify-content: space-between;
}