* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}
body {
    color: black;
}

.container {
    padding: 50px;
}

.heading {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid blue;
	justify-content: space-around;
}

a {
    text-decoration: none;
    color: black;
}

.services {
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
}

.head {
	color: blue;
	padding-top: 40px;
}

.lay {
	padding-top: 40px;
}


